{% extends 'base/base.html' %}

{% load static %}

{% block title %}Ticket Critique Page{% endblock %}

{% block content %}
<section class="ticket-critique-content">
    {% if messages %}
        {% for message in messages %}
            <h2 class="title-height">
                {{ message }}
            </h2>
        {% endfor %}
    {% else %}
        <h2 class="title-height">Créer une critique</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ticket-container ticket-critique-container">
                <h4 class="info">Livre / Article</h4>
                <div class="ticket-form ticket-critique-form">
                    {{ ticket_form.as_p }}
                </div>
            </div>
            <div class="critique-container ticket-critique-container">
                <h4 class="info">Critique</h4>
                <div class="critique-form ticket-critique-form">
                    {{ critique_form.as_p }}
                </div>
            </div>
            <div class="submit-container">
                <button  class="submit-button" type="submit">Envoyer</button>
            </div>
        </form>
    {% endif %}
</section>
<link rel="stylesheet" href="{% static 'ticket_critique.css' %}">
{% endblock %}

